<!DOCTYPE html>
<html>
<head>
    <meta charset = 'UTF-8'>
    <title>Accident Prediction Model</title>
</head>
<body>
     <h1>New Prediction World</h1>
     <input id = "image-selector" name = "image"  type = 'file'>
     <button id = "predict-button">Predict</button>
     <p> road_accident:<span id = "road_accident"></span></p>
    <p> natural_accident:<span id = "natural_accident"></span></p>
    <p> fire_accident:<span id = "fire_accident"></span></p>
    <img id = "selected-image"  src = ""/>
    
     
     <div>
         <center>
             <h2>{{prediction_text}}</h2>
         </center>
     </div>
</body>
</html>